@white: #FFFFFF;
@orange-100: #FFDC5E;
@orange-200: #FFB71B;
@dark-100: #B5AFAF;
@dark-200: #858585;
@dark-300: #3A3A47;
@dark-400: #2B2831;
@mobile: 576px;
@tablet: 768px;
@tablet-2: 992px;
@desktop: 1200px;

.hero {
  width: 100%;
  min-height: 724px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
  background-image: url(../../assets/bg-image.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }
  
  @media (max-width:@mobile){
    min-height: 384px;
  }

  &__inner {
    padding: 0 15px;
    margin-top: -3%;
    text-align: center;
    @media (max-width:@mobile){
      margin-top: -26%;
    }
  }

  &__title {
    margin-bottom: 32px;
    max-width: 692px;
    width: 100%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.2;
    color: @white;
    mix-blend-mode: normal;

    @media (max-width:@mobile){
      margin-bottom: 18px;
      font-size: 24px;
      line-height: 1.3; 
    }
  }

  &__title-strong {
    display: block;
    color: @orange-200;
  }

  &__text-box {
    margin-bottom: 48px;

    @media (max-width:@mobile){
      margin-bottom: 41px;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 1.5;
    color: @white;

    @media (max-width:@mobile){
      font-size: 14px;
      line-height: 1.4; 
    }
  }

  &__link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 2;
    text-transform: uppercase;

  }

  &__video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
    pointer-events: none;
  }

}

