@white: #FFFFFF;
@orange-100: #FFDC5E;
@orange-200: #FFB71B;
@dark-100: #B5AFAF;
@dark-200: #858585;
@dark-300: #3A3A47;
@dark-400: #2B2831;
@mobile: 576px;
@tablet: 768px;
@tablet-2: 992px;
@desktop: 1200px;

.header {
  display: flex;
  align-items: center;
  background-color: @dark-400;

  &__inner {
    padding: 12px 0;
    min-height: 42px;
    display: flex;
    align-items: center;

    @media (max-width:@tablet-2) {
      padding: 19px 0;
      justify-content: space-between;
    }
  }

  &__logo {
    margin-right: 32px;
    z-index: 11;
  }

  &__logo-img {
    width: 32px;
    height: 32px;
    margin-right: 8px;

    @media (max-width:@mobile) {
      margin-right: 6px;
      width: 16px;
      height: 16px;
    }
  }

  &__logo-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.3;
    text-transform: uppercase;
    color: @white;

    @media (max-width: 1350px) {
      display: none;
    }

    @media (max-width:@tablet-2) {
      display: block;
    }

    @media (max-width:@mobile) {
      text-transform: capitalize;
      font-size: 12px;
    }
  }

  &__link-box {
    display: flex;
    align-items: center;

    @media (max-width:@tablet-2) {
      flex-direction: column;
      float: left;
    }
  }

  &__price-link {
    margin-right: 36px;
    font-size: 16px;
    line-height: 1.5;
    text-decoration-line: underline;
    color: @white;
    padding-left: 32px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      background-image: url(../../assets/icon-download.svg);
      background-repeat: no-repeat;
      left: 0;
      top: 0;
      width: 24px;
      height: 24px;
    }

    @media (max-width:@tablet-2) {
      width: 100%;
      margin-right: 0;
      margin-bottom: 35px;
    }
  }

  &__link-tel {
    padding-left: 28px;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    color: @white;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      background-image: url(../../assets/icon-tel.svg);
      background-repeat: no-repeat;
      left: 0;
      top: 0;
      width: 24px;
      height: 24px;
    }
  }

}